<!doctype html>
<html lang="en">
<head>
    <style>
        body{
            text-align: center;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>로그인 화면</h1>
<p>로그인 페이지입니다!!!</p>

<div th:if="${param.error}" class="form-group">
    <span th:text="${exception}" class="alert alert-danger">잘못된 아이디나 암호입니다</span>
</div>
<form  th:action="@{/login_proc}" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <label>
        <input type="text" name="username" placeholder="아이디를 입력해주세요">아이디
    </label>
    <lable>
        <input type="password" name="password" placeholder="비밀번호를 입력해주세요">비밀번호
    </lable>
    <button type="submit">로그인</button>
</form>
</body>
</html>