<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Good afternoon sir!</h1>
    <p>this is 'home' page</p>
    <hr>
    <ul>
        <li><a href="/sign-up">회원가입</a></li>
        <li><a href="/user">USER-PERMIT</a></li>
        <li><a href="/manager">MANAGER-PERMIT</a></li>
        <li><a href="/admin">ADMIN-PERMIT</a></li>
        <li><a href="/owner">OWNER-PERMIT</a></li>
        <li><a href="/boss">BOSS-PERMIT</a></li>
    </ul>
</body>
</html>